NODE_ENV = DEVELOPMENT
PORT = 5000
MONGODB = mongodb://127.0.0.1:27017/wmr
JWT_SECRET_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwOTA3ODI0OTAxNyIsIm5hbWUiOiJXZW5uIE1hcmsiLCJpYXQiOjE1MTYyMzkwMjJ9.tmoyV3AS56--Z1YqsJmOXHwavRWrLYBIQ-WFHY0mPfQ
JWT_EXPIRES = 7d
ACTIVATION_SECRET = 
SMPT_SERVICE = 
SMPT_HOST = 
SMPT_PORT = 
SMPT_PASSWORD = 
SMPT_MAIL = 
STRIPE_API_KEY = 
STRIPE_SECRET_KEY = 
CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 